*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Do not upload copyrighted material
/lan_party_services/quake3/baseq3/*.pk3
/lan_party_services/ut99/Maps-Music-Sounds-Textures.zip
/lan_party_services/total_annihilation/setup_total_annihilation_commander_pack_3.1_(22139).*
/lan_party_services/total_annihilation/total_annihilation__commander_pack_en_1_3_15733.*
/lan_party_services/cnc_generals_zero_hour/cnc_generals_zero_hour.iso
/lan_party_services/cnc_generals_zero_hour/genpatcher_offline.zip

.DS_Store
.idea*

cdk.context.json
/lan_party_services/discord_bot/app/.env
/lan_party_services/*/discord_webhook_lambda/*.py
