*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

# Do not upload pak files, copyrighted material
*.pk3
lan_party_services/quake3/baseq3/*.pak

# Do no upload UT3 files, copyrighted material
lan_party_services/ut99/Maps-Music-Sounds-Textures.zip
